@import "./config.scss";

body,
html,
#root {
  height: 100%;
}

#root {
  max-width: $app-width;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f100;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
