body{
    background-image: url("https://images.unsplash.com/photo-1483488792196-78bedff29c21?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-color:rgb(66, 191, 205);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


//------------------------
//login.jsx
.formContainer { // Same class for all other forms in project

}

#login_form {

}

.userName {

}

.passWord {

}

#login_Button {

}

#signUpButton {

}

#addMovieTemp {

}
//---------------------------
// Results page